h1 {
    text-align: center;
    margin: 0px;
}
.centar{
    font-family: serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3887BE;
}
p {
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .centar {
        padding: 10px;
    }
}
