.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.first,
.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.photos {
    border-radius: 10%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: auto 20px; 
}

.text {
    flex: 1;
    max-width: 500px;
    margin: auto; 
}

@media screen and (max-width: 600px) {
    .first,
    .second {
        flex-direction: column; 
    }

    .photos {
        margin-right: 0;
        margin-bottom: 10px; 
    }
}
