.footer {
    background-color: #00A9FF;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.social-icons i {
    font-size: 24px;
    margin: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.contact-info i {
    font-size: 24px;
    margin: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


.product-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.product-links a {
    margin-bottom: 5px;
}

.about-link {
    margin-top: 10px;
    margin-left: 10px;
}


.contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forma {
    display: grid;
    gap: 10px;
  }
  
  .froma label {
    font-weight: bold;
  }
  
  .forma input,
  .forma textarea {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .formBttn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formBttn:hover {
    background-color: #45a049;
  }

  #name{
        width: 100%;
  }

@media (min-width: 750px) {


    .product-links {
        margin-top: 0;
    }

    .about-link {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .footer{
        font-size: 16px;
    }
}
