.footer {
    background-color: #00A9FF;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: solid black;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.social-icons i {
    font-size: 24px;
    margin: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.contact-info i {
    font-size: 24px;
    margin: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.product-links a {
    margin-bottom: 5px;
}

.about-link {
    margin-top: 10px;
    margin-left: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (min-width: 750px) {
    .footer-links {
        flex-direction: row;
        justify-content: center;
        width: 80%; 
        margin: 0 auto; 
    }

    .product-links {
        margin-top: 0;
    }

    .about-link {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .footer{
        font-size: 16px;
    }
}
