.header , .header-about{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #00A9FF;
    padding: 15px 0;
    position: relative;
    border-bottom: #333 solid;
}

.logo {
    margin-right: 20px;
    max-width: 200px;
    max-height: 200px;
    order: 1;
}

.nav-container {
    display: flex;
    order: 2;
    align-items: end;
    justify-content: flex-end; 
    margin-right: 50px;
}

.topnav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    box-sizing: border-box;
}

.search {
    height: 120px;
    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7%;
}

input[type="text"] {
    height: 30px;
    width: 50%;
    vertical-align: middle;
    border-radius: 15px;
}

input[type="text"]:focus {
    border: 2px solid black;
}

#searchIcon {
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}


.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #00ABE4;
    color: black;
    border-bottom: 2px solid black;
}

.topnav a.active ,.topnav .dropbtn.active{
    background-color: #2272FF;
    color: white;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    box-sizing: border-box;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav a:not(.dropdown-content a) {
    
    border-radius: 20%;
}

#itemList {
    list-style-type: none;
    padding: 0;
    width: 50%;
    display:none;
    height:15px;
    margin: 0;
}

#itemList li {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

#itemList li:first-child {
    border-top: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

#itemList li.selected {
    background-color: #89cff3;
    border: 1px solid #333;
   
}

@media only screen and (max-width: 930px) {
    .header , .header-about{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        padding:10px;
        width:100%;
    }

    .header{
        min-height: 300px;
    }

    .header-about{
        max-height: 150px;
    }

    .header-about img{
            min-width: 100px;
            min-height: 100px;
    }

    .logo {
        order: 1;
        margin-right: 0;
    }

    #logo{
        width: 100px;
        height: 100px;
    }

    .nav-container {
        order: 2;
        margin-right: 0;
        margin-bottom: 100px;
        justify-content: center;
    }

    .search {
        order: 3;
        margin-top: 150px;
    }

    input[type="text"] {
        width: 50%;
        margin-bottom: 10px;
    }

    #searchIcon {
        left: 80%;
        top: 30%;
        transform: translateX(-50%);
    }
}

