body {
    margin: 0;
    padding: 0;
    background-color: #89CFF3;
}
.slideshow-container {
    position: relative;
    max-width: 70%;
    margin: auto;
    border: 8px solid #333;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}


#logo{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 1px;
}

.next {
    right: 1px;
}
[href='index.html']{
    padding: #89CFF3;
    border-radius: 20%;
}
[href='about.html']{
    padding: #89CFF3;
    border-radius: 20%;
}
button.dropbtn{
    padding: #89CFF3;
    border-radius: 20%;
    
}
.text{
    height: 15px;
    width: 250px;
    display:inline;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 150px;
    border-radius: 7%;
}
.search{
    padding: 8px 12px;
    color: black;
    border: none;
    cursor: pointer;
    left: 450px;
    position: absolute;
  }

@media only screen and (max-width: 600px) {

    .prev,
    .next {
        font-size: 12px;
    }

    #logo {
        width: 58px;
        height: 60px;
        padding-left: 5px;
    }

    .slideshow-container{
        height: 325px;
        width: 300px;
    }
}